.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* App.css */
/* .navbar {
  background-color: #333;
  color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
} */

.content {
  margin-top: 50px;
  /* background-image: url('./GenAi.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  /* margin: 0; 
  padding: 0; 
  min-height: 100vh; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255); */
}


/* App.css */

body {
  background-image: url('./GenAi.jpg'); /* Replace with the actual path to your background image */
  background-size: cover; /* Ensure the background image covers the entire viewport */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-attachment: fixed; /* Fixed background position */
  margin: 0; /* Remove default margin to fill the entire viewport */
  padding: 0; /* Remove default padding */
  font-family: Arial, sans-serif; /* Set your desired font family */
  /* You can add more styles or customize as needed */
}

/* Navigation.css */
 .navbar {
  background-color: #333;
  color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.nav-buttons {
  display: flex;
  flex-grow: 1; 
  justify-content: flex-end;
}

.nav-button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 10px; 
}

.company-button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.sign-out-button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.company-logo {
  max-width: 200px; /* Adjust the width as needed */
  display: block;
  margin: 0 auto;
  /* Add any other styling as needed */
}

