
.service-selection-form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center; /* Center-align the form content */
  background-color: #ffffff;
}

.service-selection-form .form-group {
  margin-bottom: 20px;
}

.service-selection-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000000;
}

.service-selection-form select {
  width: 100%;
  padding: 8px;
  margin-top: 5px; /* Add spacing between select elements and labels */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.service-selection-form button {
  background-color: hsl(190, 95%, 30%);
  color: rgb(254, 255, 255);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.service-selection-form button:hover {
  background-color: hsl(291, 47%, 51%);
}

